:redcarpet
  ### MongoFE
   - a simple MongoBD administrative front-end that helps you play and learn MongoDB or manage simple MongoDB administrative tasks.
   
  ### Description
  This is a simple Sinatra based web front-end that can be used for experimenting and learning MongoDB. The MongoFe gem can also be used for simple administrative tasks, managing collections and document basic operations such as: create new documents, delete existing ones, search by various criteria and document indexing.
  